@import url(https://css-club.web.app/css/fixed_cover.min.css);


:root {
    --color-1-1: #1F66E0;
    --color-1-2: #1B5CC4;

    --color-2-1: #03AAFF;
    --color-2-2: #049AE5;

    --font-size-base-desktop: 13px;
    --font-size-base-mobile: 13px;
    --font-main: Open Sans, Helvetica Neue, Arial, Verdana, sans-serif;
    --font-alt:  Open Sans, Helvetica Neue, Arial, Verdana, sans-serif;
    --font-code: Monaco, Menlo, Consolas, Ubuntu Mono, Courier New, monospace;
    --font-alt-hadline-letter-spacing: 0.18px;
    --font-alt-text-letter-spacing: -0.13px;
    --top-menu-height: 46px;
}

html[data-color-mode=light] {
    --link-color: var(--color-2-1);
    --link-hover-color: var(--color-2-2);
    --link-active-color: var(--color-2-2);
}

html[data-color-mode="light"] {
    --headline-background-color: #f8f9fa;
    --headline-border-color: #e3f2fd;
    --headline-color: var(--color-2-1);
}

html[data-color-mode=light] {
    --headline-background-color: #f8f9fa;
    --headline-border-color: #e3f2fd;
    --headline-color: var(--color-2-1);
}

/*цвет фона*/
body {
    /*
    background: url(https://mobimg.b-cdn.net/v3/fetch/11/1162a11cddd79d4c84d8a7f16721a602.jpeg) repeat;
    background: url(https://imageup.ru/img228/4686581/better-fon.png) repeat-y;
    */
    background: url(https://imageup.ru/img76/4762003/better-fon.png) repeat-y;
    background-size: contain;
    background-size: 100% auto;
}

.l-page {
    background-color: rgba(255, 255, 255, 0.92);
    outline: 16px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 16px;
}

/* Верхнее меню */

/* sticky_menu */
@media screen and (min-width: 1025px) {
    .l-top_menu-v2 {
        position: sticky;
        top: 0;
    }

    .l-top_menu-v2 .active .submenu {
        max-height: calc(100vh - 46px);
        overflow: auto;
    }
}

/* Цвета фона и текста верхнего меню */
.l-top_menu-v2 {
    background: var(--color-1-1) !important;
    border: none;
}

/* Цвета фона и границ подменю */
.l-top_menu-v2 .submenu {
    background: var(--color-1-1) !important;
    border: none;
}

/* Фоновый цвет кнопок верхнего меню */
.l-top_menu-v2 .menu-dropdown>span {
    background: var(--color-1-1);
}

/* Фоновый цвет активных кнопок верхнего меню */
.l-top_menu-v2 .menu-dropdown.active>span,
.l-top_menu-v2 .menu-dropdown>span:focus {
    background-color: var(--color-1-2);
}

/* Фоновый цвет кнопок верхнего меню при наведении */
.l-top_menu-v2 .menu-dropdown>span a:hover {
    background-color: var(--color-1-2);
}

/* Фоновый цвет кнопок верхнего меню при нажатии */
.l-top_menu-v2 .menu-dropdown>span a:active {
    background-color: var(--color-1-2);
}

/* Фоновый цвет активных иконок верхнего меню */
.l-top_menu-v2 .menu-icon.active,
.l-top_menu-v2 .menu-icon:focus {
    background-color: var(--color-1-2);
}

/* Фоновый цвет иконок верхнего меню при наведении */
.l-top_menu-v2 .menu-icon:hover {
    background-color: var(--color-1-2);
}

/* Фоновый цвет иконок верхнего меню при нажатии */
.l-top_menu-v2 .menu-icon:active {
    background-color: var(--color-1-2);
}

/* Цвет текста ссылок подменю */
.l-top_menu-v2 .submenu>a {
    color: #fff;
}

/* Цвета фона и текста ссылок подменю при наведении */
.l-top_menu-v2 .submenu>a:hover {
    background: #fff;
    color: var(--color-1-2);
}

/* Цвета фона и текста ссылок подменю при нажатии (js) */
.l-top_menu-v2 .submenu>a.active {
    background: #fff;
    color: var(--color-1-2);
}

/* Цвета фона и текста ссылок подменю при нажатии */
.l-top_menu-v2 .submenu>a:active {
    background: #fff;
    color: var(--color-1-2);
}

/* Цвета счётчика уведомлений на иконках */
.l-top_menu-v2 .menu-icon[data-count]::after {
    background: #fff;
    border-color: var(--color-1-1);
    color: var(--color-1-1);
}


/* Цвет фона и текста строки поиска в верхнем меню */
.l-top_menu-v2 .global-search input {
    background: #fff;
    color: var(--color-1-1);
}

/* Цвет крестика для очистки строки поиска */
.l-top_menu-v2 .global-search .clear {
    color: var(--color-1-1);
}

/* Цвет иконки лупы в строке поиска */
.l-top_menu-v2 .global-search .search-marker {
    color: var(--color-1-1);
}


/* Цвет иконки лупы в активной строке поиска */
.l-top_menu-v2.is-search-focus .global-search .search-marker {
    color: var(--color-1-1);
}

/* Цвет иконки горячей клавиши «/» в строке поиска */
.l-top_menu-v2 .global-search .hotkey-marker {
    border-color: var(--color-1-1);
    color: var(--color-1-1);
}

/* Цвет фона контейнера результатов поиска */
.l-top_menu-v2 .global-search .search-results {
    background-color: #fff;
}

.l-top_menu-v2.is-search-mobile .global-search {
    background: var(--color-1-1);
}

/* Цвет фона и текста контейнера результатов поиска */
.l-top_menu-v2 .global-search .search-results .search-mode {
    border-top-color: var(--color-1-1);
    color: var(--color-1-1);
}


/* Профиль */

.p-profiles .profile-head .c-brief .avatar {
    margin: 0px 20px 0px 0px;
}


.p-profiles .profile-head .c-history {
    margin-top: 0px;
}


/* Имя пользователя в профиле */
.p-profiles .profile-head .c-brief header h1.aliases {
    color: var(--color-2-1);
    margin-right: 128px;
    line-height: 22px;
    margin-bottom: 12px;
    font-family: var(--font-code);
}

/* Полосы аниме и манги */
.b-stats_bar.anime .bar,
.b-stats_bar.anime .bar *,
.b-stats_bar.manga .bar,
.b-stats_bar.manga .bar * {
    height: 16px;
    line-height: 16px;
    
}

.b-stats_bar {
    min-height: 0;
}

.b-stats_bar.anime .bar .first,
.b-stats_bar.anime .bar .second,
.b-stats_bar.anime .bar .third,
.b-stats_bar.manga .bar .first,
.b-stats_bar.manga .bar .second,
.b-stats_bar.manga .bar .third {
    background: transparent;
    color: var(--color-2-1);
}

.b-stats_bar.anime .bar .first::before,
.b-stats_bar.anime .bar .second::before,
.b-stats_bar.anime .bar .third::before,
.b-stats_bar.manga .bar .first::before,
.b-stats_bar.manga .bar .second::before,
.b-stats_bar.manga .bar .third::before {
    content: '';
	display: block;
	position: relative;
	top: 50%;
	width: 38%;
	left: 2%;
	outline: 1px solid var(--color-2-1);
}

.b-stats_bar.anime .bar .first::after,
.b-stats_bar.anime .bar .second::after,
.b-stats_bar.anime .bar .third::after,
.b-stats_bar.manga .bar .first::after,
.b-stats_bar.manga .bar .second::after,
.b-stats_bar.manga .bar .third::after {
    content: '';
	display: block;
	position: relative;
	top: -50%;
	width: 38%;
	left: 60%;
	outline: 1px solid var(--color-2-1);
}




/* Спрятать запланировано/читаю */
.stat_names {
    display: none;
    height: 0;
}

/* Уменьшенная история */
.entry:last-child {
    display: none;
}

/* Родословную спрятать */
.p-profiles .profile-head .c-brief header h1.aliases::after {
    display: none;
}

/*кнопки профиля*/

.my-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
}

.my-button {
    display: block;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--color-2-2);
    padding: 2px 8px;
    border-radius: 4px;
}

.my-button:hover {
    color: #FFFFFF;
    background-color: var(--color-2-1);
}

.my-button.active {
    color: var(--color-2-1);
    background-color: #ffffff;
    outline: 2px solid var(--color-2-1);
    outline-offset: -1px;
}


/*Анимированный график активности */
.activity .graph.vertical .line .bar {
    box-sizing: content-box;
    transform: translateY(1px);
    transform-origin: center bottom;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-name: activity;
}

.activity .graph.vertical .line .bar:hover {
    animation-name: none;
    transform: none;
}

.activity .graph.vertical .line:nth-of-type(6n+2) .bar {
    animation-delay: -.25s;
}

.activity .graph.vertical .line:nth-of-type(6n+4) .bar {
    animation-delay: -.5s;
}

.activity .graph.vertical .line:nth-of-type(6n+3) .bar {
    animation-delay: -.75s;
}

.activity .graph.vertical .line:nth-of-type(6n+6) .bar {
    animation-delay: -1s;
}

.activity .graph.vertical .line:nth-of-type(6n+5) .bar {
    animation-delay: -1.25s;
}

@keyframes activity {

    0%,
    100% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(7px);
    }
}

/*столбы график*/
.bar.simple .bar.s3 {
    background: var(--color-1-1);
}

.bar.simple .bar:hover.s3 {
    background: var(--color-1-2);
}

.bar.simple .bar.s2 {
    background: var(--color-2-1);
}

.bar.simple .bar:hover.s2 {
    background: var(--color-2-2);
}

.bar.simple .bar.s1 {
    background: var(--color-1-1);
}

.bar.simple .bar:hover.s1 {
    background: var(--color-1-2);
}

.bar.simple .bar.s0 {
    background: var(--color-2-1);
}

.bar.simple .bar:hover.s0 {
    background: var(--color-2-2);
}

/* Уменьшение блока с активностью */
.p-profiles-show .profile-content .lifetime .title .label {
    font-size: 0;
    line-height: 0;
}

.p-profiles-show .profile-content .lifetime .title .label::before {
    content: 'Активность';
    display: block;
    color: #456;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 4px;
}

.p-profiles-show .profile-content .lifetime {
    margin-bottom: 0;
}

.p-profiles-show .profile-content .lifetime .bar,
.p-profiles-show .profile-content .lifetime .times {
    display: none;
}


.p-profiles-show .profile-content .activity .title {
    display: none;
}

.p-profiles-show .profile-content .activity {
    height: 64px;
}

.p-profiles-show .profile-content .graph {
    height: 100%;
}

/* .p-profiles-show .profile-content .cc-2 > .c-column:last-child > .block
 */

/* Основное */

/* заголовки */
.headline,
.midheadline,
.subheadline {
    border-bottom: 2px solid var(--color-2-1);
    text-align: left;
    border-left: none;
    background: none;
    padding-left: -5px;
}

.gray {
    border-color: #9ab;
}

.blue {
    border-color: var(--color-2-1);
}

.powderblue {
    border-color: #7aaebd;
}

.skyblue {
    border-color: #81cfea;
}

.purple {
    border-color: #af7ed4;
}

.green {
    border-color: #74d61f;
}

.orange {
    border-color: #ff8a3c;
}

.yellow {
    border-color: #f7b42c;
}

.red {
    border-color: #fc575e;
}

.pink {
    border-color: #f27490;
}

.magenta {
    border-color: #f477ad;
}

.brown {
    border-color: #ca5;
}

/*округление аватарок*/
.avatar img,
.submenu-triangle img,
.inner header img {
    border-radius: 10%;
}

/*Альтернативное расположение*/
@media screen and (min-width: 768px) {
    #profiles_show .profile-content>.cc-2>.c-left {
        display: none;
    }

    #profiles_show .profile-content>.cc-2>.c-right {
        float: none;
        width: 100%;
    }

    #profiles_show .profile-content>.cc-2>.c-right::after {
        content: '';
        display: table;
        clear: both;
    }

    #profiles_show .profile-content>.cc-2>.c-right>.cc-2a {
        float: right;
        width: 23%;
        overflow: hidden;
        margin: 0 !important;
    }

    #profiles_show .profile-content>.cc-2>.c-right>.cc-2a>.c-column {
        width: 100%;
        margin: 0;
    }

    #profiles_show .profile-content>.cc-2>.c-right>.cc-2a> :last-child {
        margin-top: 15px;
    }

    #profiles_show .profile-content>.cc-2>.c-right>.block {
        width: 77%;
        padding-right: 30px;
        overflow: hidden;
        clear: none;
    }
}

/*Справление расстояний между списками в профиле*/
@media screen and (min-width: 768px) {
    .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
        margin-bottom: 10px;
    }
}


/* Спрятать график*/
.c-left {
    display: none;
}

/* Отступ между активностью и избранным */


.p-profiles .profile-head .c-info .c-additionals {
    margin-top: 12px;
}

/* Текст Активность*/
.p-profiles .profile-head .c-info .c-additionals b {
	padding-right: 5px;
	color: var(--color-2-1);
	font-family: var(--font-alt);
	text-transform: uppercase;
	font-size: 12px;
}


/* Отступ между информацией и списками */
.p-profiles .profile-head .c-brief header,
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
    margin-bottom: 8px;
}

/* Отступ между автаркой и конпками */
profile-actions {
    margin-top: 0px;
}

/* Количество блоков достижений */

.profile-content .cc-achievements .b-achievement:nth-child(n+2),
.profile-content .cc-franchises .b-badge:nth-child(n+2),
.profile-content .cc-authors .b-achievement:nth-child(n+2) {
    display: none;
}

/*Изменение в оформлении блока достижений*/
div.cc-2:nth-child(2) {
    display: grid;
    gap: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    #profiles_show .achievements>.cc-2 {
        grid-template-columns: repeat(4, 1fr);
    }
}

div.cc-2:nth-child(2) .c-column {
    width: 100% !important;
    margin: 0;
}

.b-achievement,
div.b-tooltipped {
    width: 100% !important;
    padding: 0;
}


/* Табы */
:root {
    --is-theme-dark: 0;
    --l-theme-default: 55%;
}

.use-tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    --c-tab: 210deg 100%;
    --c-border: #ddd;

    --l-text-inactive: var(--l-theme-default);
    --l-text-active: var(--l-theme-default);
    --l-background: var(--l-theme-default);
}

.use-tabs.--dark {
    --is-theme-dark: 1;
}

.use-tabs>div:not([data-dynamic]) {
    flex: 1 0 100%;
    min-width: 100%;
}

.use-tabs>div>div {
    display: none;
    padding: 12px 0;
}

.use-tabs>.active:nth-child(1)~div>div:nth-child(1),
.use-tabs>.active:nth-child(2)~div>div:nth-child(2),
.use-tabs>.active:nth-child(3)~div>div:nth-child(3),
.use-tabs>.active:nth-child(4)~div>div:nth-child(4),
.use-tabs>.active:nth-child(5)~div>div:nth-child(5),
.use-tabs>.active:nth-child(6)~div>div:nth-child(6),
.use-tabs>.active:nth-child(7)~div>div:nth-child(7),
.use-tabs>.active:nth-child(8)~div>div:nth-child(8),
.use-tabs>.active:nth-child(9)~div>div:nth-child(9),
.use-tabs>.active:nth-child(10)~div>div:nth-child(10),
.use-tabs>.active:nth-child(11)~div>div:nth-child(11),
.use-tabs>.active:nth-child(12)~div>div:nth-child(12),
.use-tabs>.active:nth-child(13)~div>div:nth-child(13),
.use-tabs>.active:nth-child(14)~div>div:nth-child(14),
.use-tabs>.active:nth-child(15)~div>div:nth-child(15),
.use-tabs>.active:nth-child(16)~div>div:nth-child(16),
.use-tabs>.active:nth-child(17)~div>div:nth-child(17),
.use-tabs>.active:nth-child(18)~div>div:nth-child(18),
.use-tabs>.active:nth-child(19)~div>div:nth-child(19),
.use-tabs>.active:nth-child(20)~div>div:nth-child(20) {
    display: block;
}

.use-tabs>[data-dynamic] {
    display: inline-block;
    padding: 4px 16px;
    margin: 4px;
    border: 2px solid;
    border-radius: 40px;
    color: hsla(var(--c-tab) var(--l-text-inactive) / 100%);
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    transition: .24s ease;
    user-select: none;
}

.use-tabs>[data-dynamic]:hover {
    background: hsla(var(--c-tab) var(--l-background) / 8%);
}

.use-tabs>[data-dynamic]:active {
    background: hsla(var(--c-tab) var(--l-background) / 16%);
}

.use-tabs>[data-dynamic].active {
    color: hsla(var(--c-tab) var(--l-text-active) / 100%);
    background: hsla(var(--c-tab) var(--l-background) / 12%);
}

/* Test colors */
.use-tabs>.active.--red {
    --c-tab: 350deg 100%;
}

.use-tabs>.active.--blue {
    --c-tab: 230deg 100%;
}

.use-tabs>.active.--green {
    --c-tab: 120deg 100%;
}


/* Vertical */
@media (min-width: 960px) {
    .use-tabs.--vertical {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-auto-rows: minmax(0, max-content);
        padding: 8px 0;
        border: 1px solid var(--c-border);
        border-radius: 3px;
    }

    .use-tabs.--vertical>div:not([data-dynamic]) {
        grid-column: 2;
        grid-row: 1 / 50;
        /* max tabs */
        margin: -8px 0;
        border-left: 1px solid var(--c-border);
    }

    .use-tabs.--vertical>div>div {
        padding: 18px 24px;
    }

    .use-tabs.--vertical>[data-dynamic] {
        display: block;
        grid-column: 1;
        padding: 8px 16px;
        margin: 0;
        border: none;
        border-radius: 0;
        text-align: left;
    }
}


/* Vertical + Right */
@media (min-width: 960px) {
    .use-tabs.--vertical.--right {
        grid-template-columns: 1fr 212px;
    }

    .use-tabs.--vertical.--right>div:not([data-dynamic]) {
        grid-column: 1;
        border-left: 0;
        border-right: 1px solid var(--c-border);
    }

    .use-tabs.--vertical.--right>[data-dynamic] {
        grid-column: 2;
    }
}


/* Ripple */
.use-tabs.--ripple>[data-dynamic] {
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.use-tabs.--ripple>[data-dynamic]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72%;
    padding-top: 72%;
    background: inherit;
    border-radius: 50%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}

.use-tabs.--ripple>[data-dynamic]:not(.active):hover::after {
    animation: 1s switch-focus--vertical ease infinite;
}

.use-tabs.--ripple>[data-dynamic].active::after {
    animation: switch-tap--vertical 0.24s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}


/* Tabline */
.use-tabs.--tabline {
    justify-content: flex-start;
}

.use-tabs.--tabline>div:not([data-dynamic]) {
    margin-top: -1px;
    border-top: 1px solid var(--c-border);
}

.use-tabs.--tabline>[data-dynamic] {
    position: relative;
    padding: 7px 10px;
    margin: 0;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}

.use-tabs.--tabline>[data-dynamic].active {
    border-bottom-color: hsla(var(--c-tab) var(--l-text-active) / 100%);
}


/* Centered */
.use-tabs.--centered {
    justify-content: center;
}


/* Stretch */
.use-tabs.--stretched>[data-dynamic] {
    flex-grow: 1;
}


/* Отступ сверху страницы */
.l-page {
    margin-top: 16px;
}

@media screen and (max-width: 1023px) {
    .l-page {
        margin-top: 0px;
    }
}

/* спрятать старый никнейм пользователя */
.aliases {
    pointer-events: none;
}

/* оценки с списке на мобилке*/
.p-user_rates .b-table :is(thead th, .entries .user_rate .num):nth-child(3) {
    display: table-cell;
}

/* Цвет фона на мобилке */
@media screen and (max-width: 1023px) {
    .l-page {
        background-color: #eff1f6;
    }
}


/* стиль доп инфы*/
.p-profiles .profile-head .c-brief header .notice {
    /* color: var(--color-1-1); */
    font-style: italic;
    margin: 0;
}

/* Надпить Список аниме и список манги */
.b-stats_bar a.title {
    cursor: pointer;
    color: var(--headline-color);
    font-family: var(--font-alt);
    text-transform: uppercase;
    font-size: 12px;
}

.b-stats_bar>a.title::before {
    content: "> ";
}



